<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bistwobis\StatusApi\Api\OrderStatusRepositoryInterface" type="Bistwobis\StatusApi\Model\OrderStatusRepository" />
</config>
